---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Container from "../components/Container.astro";
import AskDevis from "../components/AskDevis.astro";
import BeforeFoot from "../components/BeforeFoot.astro";
import Entete from "../components/entete.astro";

import ActuItem from "../components/ActuItem.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"));
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .banniere {
        @apply mb-28 mt-6;
      }
    </style>
  </head>
  <body>
    <Header />
    <Container>
      <Entete> Actualités </Entete>

      <div>
        {
          posts.map(async (post) => (
            <ActuItem
              titre={post.data.title}
              date={post.data.pubDate}
              descript={post.data.description}
              post={await post.render()}
            />
          ))
        }
      </div>
      <AskDevis />
    </Container>
    <BeforeFoot />
    <Footer />
  </body>
</html>
